body {
  padding: 4em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
    width: 75%;
    height: 30em;
}
button {
    padding: .5em;
}
#logger {
    padding: .5em;
    background-color: #f5f5f5;
}
