extends layout

block content
  h1=  title
  p This page will auto-refresh every 10 seconds. To ingest more videos, go to the #[a(href="http://solutions.brightcove.com:3000/") Ingest Page].
  p Current running job count: #{runningJobCount}
  p Curtent request queue: #{jobQueue}
  p Jobs complete: #{jobsComplete}
  script(src='/javascripts/dashboard.js')
