extends layout

block content
  h1=  title
  p Sends Dynanic Ingest requests and receives notifications
  p Current running job count: #{runningJobCount}
  p#logger(class = 'logger')
  h2 Ingest data
  p.
  button#submitData Submit Data
  p.
  textarea#ingestData

  script(src='/javascripts/index.js')
