extends layout

block content
  h1=  title
  p Sends Dynanic Ingest requests and receives notifications
  p After you've submitted your requests, go to the [a(href="http://solutions.brightcove.com:3000/dashboard")Dashboard] to see the progress.
  p#logger(class = 'logger')
  h2 Ingest data
  p.
  button#submitData Submit Data
  p.
  textarea#ingestData

  script(src='/javascripts/index.js')
