.player-block {
    position: relative;
}
#continueButton {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    padding-top: 80px;
    margin-top: 10px;
    margin-left:0;
    color: white;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    background-color: #333;
    opacity: 0.7;
    border-radius: 5px;
    z-index:20;
    overflow: hidden;
    -webkit-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -moz-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -ms-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -o-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
}
.buttonShow {
    width: 720px;
    height: 355px;
    padding: 10px;
    margin-top: 10px;
}
.buttonHide {
    width: 0;
    height: 0;
    padding: 0;
}
.video-js {
      height: 480px;
      width: 720px
}