.bcls-playlist {
    background-color: #141B17;
    width: 100%;
    max-height: 74px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.bcls-playlist-item {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 128px;
}
.bcls-thumbnail {
    background-color: #141B17;
    width: 124px;
    height: 66px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}
