 .video-js {
      display: block;
      width: 100%;
      max-height: 360px;
      position: relative;
    }

    .vjs-playlist {
      max-width: 640px;
      margin: 0;
      overflow: scroll;
      white-space: nowrap;
      display: block;
      max-height: 75px;
      width: 100%;
      position: relative;
      top: 360px;
      left: 0;
    }

    .vjs-playlist-item {
      display: inline-block;
      height: 75px;

    }
    cite.vjs-playlist-name {
      display:none;
    }
    .vjs-playlist-description {
      display: none;
    }