/* element styles */
 body {
    font-family:'ProximaNovaA-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-left: 2rem;
}
input {
    font-family: source-code-pro, Monaco, Consolas, Menlo, "Lucida Console", monospace;
}
fieldset {
    border-radius: 1rem;
}
td {
    padding: 5px;
    font-size: 14px;
}
/*tr td:first {
    text-align: right;
}*/
textarea {
    width: 100%
}
button {
    margin-bottom: 20px;
}
/* class styles */
 .align-top {
    vertical-align: top;
}
.bcls-button {
    background-color: #666;
    border: 1px #000 solid;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    padding: 5px;
}
.red {
    color: #F00;
    font-weight: bold;
    font-size: 100%;
}
.outline-red {
    border: 2px #900 solid;
    padding: 2px;
}
.where-terms {
    border: 1px #999 solid;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
    width: 100%;
}
.request {
    background-color: #FEF7E4;
    border: 1px #999 solid;
    border-radius: 5px;
    font-size: .8em;
    padding: 5px;
}
.no-wrap {
    white-space: nowrap;
}
#fields {
    height: 250px;
}
