/* element styles */
 body {
    font-family:'ProximaNovaA-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 20px 30px;
}
fieldset {
    width: 900px;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
}
h1 {
    border-bottom: 1px #000 solid;
}
input {
    font-family: source-code-pro, Monaco, Consolas, Menlo, "Lucida Console", monospace;
}
table {
    border-collapse: collapse;
    border: 0 #999 solid;
    border-radius: 5px;
}
td {
    padding: 5px;
    font-size: 14px;
}
tr td:first {
    text-align: right;
}
textarea {
    width: 100%
}
button {
    margin-bottom: 20px;
}
iframe {
    width: 800px;
    height: 600px;
    border: 1px #999 solid;
    border-radius: 5px;
}
/* class styles */
 .align-top {
    vertical-align: top;
}
.align-right {
    text-align:right;
}
.align-left {
    text-align:left;
}
.bcls-button {
    background-color: #666;
    border: 1px #000 solid;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    padding: 5px;
}
.required {
    border: 2px #900 solid;
}
.red {
    color: #F00;
    font-weight: bold;
    font-size: 100%;
}
.outline-red {
    border: 2px #900 solid;
    padding: 2px;
}
.where-terms {
    border: 1px #999 solid;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
}
.request {
    background-color: #FEF7E4;
    border: 1px #999 solid;
    border-radius: 5px;
    font-size: .8em;
    padding: 5px;
}
.text-warning {
    background-color: #F5F5F5;
    border: 1px #999 solid;
    border-radius: 5px;
    color: #900;
    padding: 10px;
    width: 800px;
}
.no-wrap {
    white-space: nowrap;
}