    .lucidchart-viewer {
        border: #CCC solid 1px;
        position: relative;
        cursor: move;
        cursor: -moz-grabbing;
        cursor: url(/s/-nhrk73/712002/9a5b3c92afaa5ad741fd01dd59244fe4/1.8.6/_/download/resources/com.lucidchart.jira.plugins.lucid-jira:lucid-viewer-general/openhand.cur), default;
        cursor: url(/s/-nhrk73/712002/9a5b3c92afaa5ad741fd01dd59244fe4/1.8.6/_/download/resources/com.lucidchart.jira.plugins.lucid-jira:lucid-viewer-general/openhand.cur) 8 8, default;
    }

    .lucidchart-viewer.dragging {
        cursor: move;
        cursor: -moz-grab;
        cursor: url(/s/-nhrk73/712002/9a5b3c92afaa5ad741fd01dd59244fe4/1.8.6/_/download/resources/com.lucidchart.jira.plugins.lucid-jira:lucid-viewer-general/closedhand.cur), default;
        cursor: url(/s/-nhrk73/712002/9a5b3c92afaa5ad741fd01dd59244fe4/1.8.6/_/download/resources/com.lucidchart.jira.plugins.lucid-jira:lucid-viewer-general/closedhand.cur) 8 8, default;
    }

    .lucidchart-viewer .img-container {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }

    .lucidchart-viewer .img-container img {
        position: absolute;
        max-width: none;
    }

    .lucidchart-viewer .page-control {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 33%;
        cursor: inherit;
    }

    .lucidchart-viewer .page-left {
        left: 0;
    }

    .lucidchart-viewer .page-right {
        right: 0;
    }

    .lucidchart-viewer .page-button {
        position: absolute;
        background: url(/s/-nhrk73/712002/9a5b3c92afaa5ad741fd01dd59244fe4/1.8.6/_/download/resources/com.lucidchart.jira.plugins.lucid-jira:lucid-viewer-general/page-arrows.png) no-repeat;
        top: 50%;
        margin-top: -50px;
        height: 100px;
        width: 64px;
        display: none;
        cursor: pointer;
    }

    .lucidchart-viewer .page-control:hover .page-button {
        display: block;
    }

    .lucidchart-viewer .page-button-left {
        background-position: 0 0;
        left: 0;
    }

    .lucidchart-viewer .page-button-left:hover {
        background-position: 0 -100px;
    }

    .lucidchart-viewer .page-button-right {
        background-position: -64px 0;
        right: 0;
    }

    .lucidchart-viewer .page-button-right:hover {
        background-position: -64px -100px;
    }

    .lucidchart-viewer .page-counter {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 16px;
        height: 0;
        padding: 1px 1px 0;
        color: #999;
        cursor: default;
    }

    .lucidchart-viewer .zoom-controls {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .lucidchart-viewer .zoom-button {
        background: url(/s/-nhrk73/712002/9a5b3c92afaa5ad741fd01dd59244fe4/1.8.6/_/download/resources/com.lucidchart.jira.plugins.lucid-jira:lucid-viewer-general/zoom-icons.png) no-repeat;
        height: 32px;
        width: 32px;
        padding: 0;
        float: right;
        border: transparent solid 1px;
        cursor: pointer;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }

    .lucidchart-viewer .zoom-button.active:hover {
        border-color: #E5E5E5;
        background-color: rgba(255,255,255,.25);
    }

    .lucidchart-viewer .zoom-button-in {
        background-position: -32px 0;
    }

    .lucidchart-viewer .zoom-button-in.active {
        background-position: -32px -32px;
    }

    .lucidchart-viewer .zoom-button-in.active:hover {
        background-position: -32px -64px;
    }

    .lucidchart-viewer .zoom-button-out {
        background-position: 0 0;
    }

    .lucidchart-viewer .zoom-button-out.active {
        background-position: 0 -32px;
    }

    .lucidchart-viewer .zoom-button-out.active:hover {
        background-position: 0 -64px;
    }

    .lucidchart-rich-viewer {
        width: 0;
        height: 0;
        border: none;
    }